<div class="footer-margin">
  <footer class="card-footer bg-light footer-position fixed-bottom text-center"><a href="https://github.com/josephcardillo/shipping-app">Copyright © 2020 Rad Saskara</a>
  </footer>
</div>